$primary_4: #1c314B;
$primary_3: #556578;
$primary_2: #8E98A5;
$primary_1: #C6CBD2;

$secondary_4: #EE4700;
$secondary_3: #F37C49;
$secondary_2: #F8B295;
$secondary_1: #FDEBE4;

$tertiary_4: #4B1C49;
$tertiary_3: #785577;
$tertiary_2: #A58EA4;
$tertiary_1: #D2C6D2;